{% extends "blog.html" %} {% block content %}
{{ form.hidden_tag() }}Join Today
{{ form.username.label(class="form-control-label") }} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid") }}
{% for error in form.username.errors %} {{ error }} {% endfor %}
{% else %} {{ form.username(class="form-control form-control-lg") }} {% endif %}
{{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
{% for error in form.email.errors %} {{ error }} {% endfor %}
{% else %} {{ form.email(class="form-control form-control-lg") }} {% endif %}
{{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid") }}
{% for error in form.password.errors %} {{ error }} {% endfor %}
{% else %} {{ form.password(class="form-control form-control-lg") }} {% endif %}
{{ form.confirm_password.label(class="form-control-label") }} {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
{% for error in form.confirm_password.errors %} {{ error }} {% endfor %}
{% else %} {{ form.confirm_password(class="form-control form-control-lg") }} {% endif %}
{{ form.submit(class="btn btn-outline-info") }}
Already Have An Account? Sign In
{% endblock content %}