{% extends 'base.html' %}

{% block content %}
<div class = "valign-wrapper ba-screen-full">
    <div class = "container">
    <div class="row">
    <div class="col l3 m3 s12"></div>
    <div class="col l6 m6 s12">
        {% for message in get_flashed_messages() %}
        <div class="card-panel red">
        <span class = "white-text">{{ message }}</span>
        </div>
    {% endfor %}<br>
    <form action = "{{ url_for('main.update_blog', blog_id = blog.id)}}" method="POST" autocomplete="off">
        <div class="">
        <div class = "input-field">
            {{ form.csrf_token(type_ = "hidden")}}
        </div>
        <div class = "input-field">
            {{ form.title.label }}
            {{ form.title(class_ = "validate", placeholder = "Title", value=blog.title)}}
        </div>
        <div class = "input-field">
            {{ form.content.label }}
            {{ form.content(class_ = "materialize-textarea", data=blog.content)}}
        </div> 
        
        <div class = "input-field">
            {{ form.submit(class_ = "btn")}}
        </div>
    </div>       
    </form>
    </div>
    </div>
    </div>
</div>
{% endblock content%}